{% extends "article/base.html" %}
{% block content %}
<!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Contact</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "index" %}">Accueil</a></li>
            <li class="current">Contact</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Addresse</h3>
                <p>Conakry/Guinée</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Telephone</h3>
                <p>+224 633463467</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="{% url "contact" %}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
              <div class="row gy-4">
                
                <div class="col-md-6">
                  {{ form.name }}
                </div>

                <div class="col-md-6 ">
                  {{ form.email }}
                </div>

                <div class="col-md-12">
                  {{ form.subject }}
                </div>

                <div class="col-md-12">
                  {{ form.content }}
                </div>

                {% if messages %}
                  <div class="col-md-12">
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="col-md-12 text-center">
                  <button type="submit">Envoyer</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->
{% endblock content %}
