{% extends "article/base.html" %} 
{% block title %}Liste des articles{% endblock %} 
{% block content %}

    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Details de l'article</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "index" %}">Accueil</a></li>
            <li class="current">Detail de l'arcticle</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  {% if article.image %}
                  <img src="{{ article.image.url }}" alt="" class="img-fluid">
                  {% else %}
                  <img src="https://via.placeholder.com/300*500" alt="" class="img-fluid">
                  {% endif %}
                </div>

                <h2 class="title">{{ article.title }}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{article.user.first_name}}{{article.user.last_name}}</a></li>
                   
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">{{ article.comment_set.count }} Commentaires</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{ article.content|safe }}
                  </p>

                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{ article.category.name }}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  
                  <ul class="tags">
                    {% for tag in article.tag.all %}
                      <li><a href="#">{{tag.name}}</a></li>
                    {% endfor %}
                    
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{ article.comment_set.count}} Commentaires</h4>

              <div id="comment-1" class="comment">
                {% for comment in article.comment_set.all %}
                <div class="row">
                  <div class="col-6">
                      <h4>{{comment.name}}</h4>
                      <time datetime="{{comment.created_at }}">{{comment.created_at|date:"d F Y h:m"}}</time>
                      <p>{{comment.comment}}</p>
                  </div>
                </div>
                
                {% endfor %}
              </div><!-- End comment #1 -->

            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form action="" method="POST">
                {% csrf_token %}
                <h4>Faites un commentaire</h4>
                <p>Votre nom et votre commentaire est requis * </p>
                
                  <div class="form-group">
                    {{form.name}}
                    {{form.name.errors}}
                  </div>

                  <div class="form-group">
                    {{form.comment}}
                    {{form.comment.errors}}
                  </div>
                

                <div class="text-start">
                  <button type="submit" class="btn btn-primary">Commentez</button>
                </div>

              </form>

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Blog Author Widget -->
            <div class="blog-author-widget widget-item">

              <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center w-100">
                  {% if article.user.profile.photo %}
                    <img src="{{ article.user.profile.photo.url }}" class="rounded flex-shrink-0" alt="">
                  {% endif %}
                  
                  <div>
                    <h4>{{article.user.first_name|title}} {{article.user.last_name|title}}</h4>
                    <div class="social-links">
                      <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>

                <p>
                  {{article.user.profile.bio}}
                </p>

              </div>

            </div><!--/Blog Author Widget -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                {% for tag in article.tag.all %}
                  <li><a href="#">{{tag.name}}</a></li>
                {% endfor %}
                
                
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  {% endblock %}